@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.login-title {
	font-family: 'HANAMDAUM';
}

.login-section {
	margin-top: -50p;
    height: calc(100vh - 80px);
    overflow: hidden;
    margin-bottom: -100px;
}
.login-page-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-title {
    margin-bottom: 100px;
}
input {
    border: 0;
}
.id-pw {
    display: flex;
    flex-direction: column;
}
.user-id {
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 1px solid gray;
}

.user-pw {
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 1px solid gray;
}

.id-save {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.login-btn {
    width: 100px;
    height: 120px;
    margin-left: 20px;
    background-color:  #f17945;
    color: #fff;
    border-radius: 15px;
}

.login-btn-flex {
    display: flex;
}

.flex {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 620px;
}
.id-pw-btn {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
    background-color: #808080;
} 
.kakao-login {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #ffe812;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.sign-up {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #117cd9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-border {
    width: 620px;
    margin: 50px 0 50px 0;
}
.f {
    width: 100%;
    display: flex;
    justify-content: center;
}
.icon-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
