.mypage-section {
    height: calc(100vh - 200px);
    overflow: hidden;
}

.mypage-page-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}





 
 .profile {
    margin-bottom: 50px;
}


.myboo {
  margin: 25px;
  width: 350px;
  height: 200px;
  /* 설정 */
  position: relative;
}
