@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
.rounded-image {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.mypage-title {
	
}

.mypage-icon {
	display:block;
	width:100%;
	height:auto;
}

.container_wrapper_my_home {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 280px;
    background-size: cover;
    background-image: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FUFQq6%2FbtqDISwqF2w%2FUiZmMR1YbXf8al3yD8PZk1%2Fimg.jpg);
    margin-top: 60px;
    z-index: 1;
    position: relative;
}

 .contents_wrap {
/* 	margin-top: 30px; */
	height:350px;
	z-index: -3;
} 
/*
.profile_thumb_box_no_img .thumb_box {
    border: 1px solid #eaeaea;
    background-size: cover;
    background-image: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_no_profile@2x.png);
    box-sizing: border-box;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
*/
.profile_thumb_box .thumb_box {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}


.profile_img {
	border-radius: 100%;
	object-fit: cover;
}

.profile-thumb {
	/* border: 1px solid #eaeaea; */
    box-sizing: border-box;
    border-radius: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.profile-thumb_box_no_img {
	
    box-sizing: border-box;
    border-radius: 100%;
    display: flex; 
    
    align-items: center;
}

.profile_img {
	object-fit: cover;
	/* background-image: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_no_profile@2x.png); */
	width: 100%;
    height: 100%;
    border-radius: 100%;
    
}
.profile_img img {
	width:100px;
	height:100px;
	border-radius:100%;
}

/*
.profile_thumb_box_no_img .thumb_box {
	display: flex; 
    justify-content: center; 
    align-items: center; 
}	
*/


.profile_btn {
	width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}


/*         마 이 페 이 지             */

.container_wrapper_my_home .contents_wrap .contents_inner {
    padding: 17px 20px 19px;
    margin-left: 200px;
    margin-top: 250px;
    border-radius: 12px;
    background-color: rgba(56, 59, 124, 0.2);
    width: 220px;
/*     display: flex; */
}

.container_wrapper_my_home .contents_wrap .contents_inner .my_profile_area .profile-box .profile-box-inner .profile-info-box {
    padding: 22px 20px 0px;
    margin-top: 12px;
    border-radius: 12px;
    background-color: rgba(56, 59, 124, 0.2);
    width: 180px;
    display: flex;
    flex-direction: column;
}

.profile-info-box {
	list-style:none;
	height: 130px;
}

.mypage-section {
    display: flex;
}

table{
	margin : auto;
    width : 80%;
}

/*
.profile-section {
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}
*/

.center {
	display: flex;
}

.section_wrap {
	display: flex;
	justify-content: center;
    align-items: center;
}

.order_list {
	margin-top: 100px;
	float: right;    
	width: 90%;  
	height: 100%;  
}

.mypage-icon {
	margin-left: 15px;
}

.gwang {
	margin-top: 50px;
	/* margin-left: -120px; */
	display: flex;
}

/* 캐러셀 */

.embla {
  overflow: hidden;
  width: 400px;
  border: 1px solid #000;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 주문 내역 테이블 */
.tbl_prod_wrap.type_myroom {
	width: 100%;
}

/* .tbl_prod_wrap_type_myroom .book_tbl tbody tr td.order_info {
    border-right: 1px solid #eaeaea;
}
.tbl_prod_wrap_type_myroom .book_tbl tbody tr td {
    padding: 16px 20px;
} */
table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 0;
}
thead {
	display: none;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.carousel_down tbl_prod_wrap_type_myroom {
	margin-top: 0px;
}

.tbl_prod_wrap_type_myroom {
	width: 90%;
	margin-top: 0px;
}
.book_tbl {
	width: 580px;
}

.tbl_name {
	font-family: 'HANAMDAUM';
}
.my_review_title {
	font-family: 'HANAMDAUM';
	margin-top: 100px;
	margin-bottom: 20px;
}
.my_bbti_title {
	font-family: 'HANAMDAUM';
}
/* .my_review{
	margin-left: 32px;
} */

.bbti {
	margin-left: 450px;
	margin-bottom: 400px;
}

.carousel_down {
	margin-left: 50px;
}
.bbti_wrap {
	margin-left: 20px;
}

.li info_item {
	padding: -30px;
}
li {
    float: left;
}
ul {
    list-style:none;
} 
.profile-info-box ul {
	padding-left:0;
	height: 150px;
}

