@charset "UTF-8";

.profile-section {
    height: calc(100vh - 200px);
    overflow: hidden;
}
.profile-page-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile_name {
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.profile-btn {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
    background-color: #808080;
} 

.profile-title {
    margin-bottom: 50px;
}