@charset "UTF-8";

@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.profilefrm-title {
	font-family: 'HANAMDAUM';
	margin-bottom: 30px;
	margin-right: 60px;
}

.submit-btn {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
    background-color: #808080;
} 
.tr intro-text {
	width: 360px;
}