section {
  width: 100%;
  height: 100vh;
  padding: 100px 250px 0 250px;
  background-color: #F2F2F2;
}

.bestseller {
    display: flex;
    margin: 100px 0 100px 0;
}

.bestseller-book-c {
    width: 400px;
    height: 600px;
    background-color: #000;
    color: #fff;
    margin: 0 50px 0 0;
    flex-shrink: 0;
}

.weekly-author {
    width: 400px;
    height: 400px;
    background-color: #000;
    color: #fff;
    margin: 0 100px 15px 0;
    flex-shrink: 0;
}

.author-cont {
    display: flex;
    gap: 30px;
    width: 890px;
    flex-wrap: wrap;
}

.a-book {
    width: 200px;
    height: 300px;
    background-color: #000;
    color: #fff;
}

.book-cont {
    margin-top: 20px;
}

.b-cont {
    font-size: 12px;
    color: #707070;
    font-weight: 100;
    line-height: 1.7;
}

.author {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    color: #808080;
}