@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.join-title {
	font-family: 'HANAMDAUM';
}
.agree-title {
	font-family: 'HANAMDAUM';
}
table {
    width: 1000px;
    table-layout: fixed;
}

.passwd-validate {
    width: 100%;
    background-color: red;
}

.member-paper {
	margin-left:15px;
    width: 100%;
    height: 500px;
    background-color: rgb(192, 192, 192);
    overflow: scroll;
    line-height: 1.6;
    padding: 100px;
}



.idCheck_btn {

    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
    background-color: #808080;
} 