table {
    width: 1000px;
    table-layout: fixed;
}

.passwd-validate {
    width: 100%;
    background-color: red;
}

.member-paper {
    width: 100%;
    height: 500px;
    background-color: #fff;
    overflow: scroll;
    line-height: 1.6;
    padding: 100px;
}